@{
    ViewData["Title"] = "Giris Engellendi";
}
<div class="row">
    <div class="col">
        <h1 class="display-2">@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <p> Ilgili sayfaya erisiminiz yok</p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primara">@_localization.GetKey("back").Value</a>
    </div>
</div>