@model webProjeOdev.Models.Klinik

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Klinik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.klinikAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.klinikAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnaBilimDali)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnaBilimDali.anaBilimDaliAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.klinikId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
