@model webProjeOdev8.Models.CalismaGunleri

@{
    ViewData["Title"] = "CalismaGunleriEkle";
}

<h1>CalismaGunleriEkle</h1>

<h4>CalismaGunleri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CalismaGunleriEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="calismaGunleri" class="control-label"></label>
                <input asp-for="calismaGunleri" class="form-control" />
                <span asp-validation-for="calismaGunleri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="baslamaSaati" class="control-label"></label>
                <input asp-for="baslamaSaati" class="form-control" />
                <span asp-validation-for="baslamaSaati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bitisSaati" class="control-label"></label>
                <input asp-for="bitisSaati" class="form-control" />
                <span asp-validation-for="bitisSaati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
