@model webProjeOdev.ViewModels.HastaneIletisimViewModel
@{
    ViewData["Title"] = "HastaneEkle";
}

<h3>@TempData["msj"]</h3>

<h1>HastaneEkle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HastaneEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HastaneModel.hastaneAdi" class="control-label"></label>
                <input asp-for="HastaneModel.hastaneAdi" class="form-control" />
                <span asp-validation-for="HastaneModel.hastaneAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IletisimBilgileriModel.telefonNumarasi" class="control-label"></label>
                <input asp-for="IletisimBilgileriModel.telefonNumarasi" class="form-control"/>
                <span asp-validation-for="IletisimBilgileriModel.telefonNumarasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IletisimBilgileriModel.email" class="control-label"></label>
                <input asp-for="IletisimBilgileriModel.email" class="form-control" />
                <span asp-validation-for="IletisimBilgileriModel.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IletisimBilgileriModel.Iller" class="control-label"></label>
                <select asp-for="IletisimBilgileriModel.Iller" class="form-control" asp-items="Html.GetEnumSelectList<IletisimBilgileri.Il>()">
                        <option value="">Seçiniz...</option>
                </select>
                <span asp-validation-for="IletisimBilgileriModel.Iller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }
}