@model webProjeOdev8.Models.AnaBilimDali

@{
    ViewData["Title"] = "AnaBilimDaliEkle";
}
<h3>@TempData["msj"]</h3>
<h1>AnaBilimDaliEkle</h1>

<h4>AnaBilimDali</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AnaBilimDaliEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="anaBilimDaliAdi" class="control-label"></label>
                <input asp-for="anaBilimDaliAdi" class="form-control" />
                <span asp-validation-for="anaBilimDaliAdi" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
