@using webProjeOdev8.Data.Enum;
@model webProjeOdev8.Models.Doktor

@{
    ViewData["Title"] = "DoktorEkle";
}

<h1>DoktorEkle</h1>

<h4>Doktor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DoktorEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="doktorAdi" class="control-label"></label>
                <input asp-for="doktorAdi" class="form-control" />
                <span asp-validation-for="doktorAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doktorSoyadi" class="control-label"></label>
                <input asp-for="doktorSoyadi" class="form-control" />
                <span asp-validation-for="doktorSoyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dogumTarihi" class="control-label"></label>
                <input asp-for="dogumTarihi" class="form-control" />
                <span asp-validation-for="dogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cinsiyet" class="control-label"></label>
                <select asp-for="cinsiyet" class="form-control" asp-items="Html.GetEnumSelectList<Doktor.Cinsiyet>()"></select>
                <span asp-validation-for="cinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="medeniHal" class="control-label"></label>
                <select asp-for="medeniHal" class="form-control" asp-items="Html.GetEnumSelectList<Doktor.MedeniHal>()"></select>
                <span asp-validation-for="medeniHal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefonNumarasi" class="control-label"></label>
                <input asp-for="telefonNumarasi" class="form-control" />
                <span asp-validation-for="telefonNumarasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iller" class="control-label"></label>
                <select asp-for="Iller" class="form-control" asp-items="Html.GetEnumSelectList<Il>()"></select>
                <span asp-validation-for="Iller" class="text-danger"></span>
            </div>

  

            <div class="form-group">
                <label asp-for="hastaneId" class="control-label"></label>
                <select asp-for="hastaneId" id="HastaneSecim" asp-items="@ViewBag.HastaneList" onchange="AnaBilimleriDoldur(this,'anaBilimList'); " >
                    <option disable selected>Hastane seciniz</option>
                </select>
                <span asp-validation-for="hastaneId" class="text-danger"></span>
            </div>
            
           
            <div class="form-group">
                <label asp-for="anaBilimDaliId" class="control-label"></label>
                <select id="anaBilimList" asp-for="anaBilimDaliId" asp-items="ViewBag.anaBilimDaliId" onchange="KlinikleriDoldur(this,'klinikList');">
                </select>
                <span asp-validation-for="anaBilimDaliId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="klinikId" class="control-label"></label>
                <select id="klinikList" asp-for="klinikId" asp-items="ViewBag.klinikId" >
                </select>
                <span asp-validation-for="klinikId" class="text-danger"></span>
            </div>
           

        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
