<html>
	<head>
        <style>
            .body {
                background: url('/images/pexels-cottonbro-studio-7579831.jpg') !important;
                background-size: cover !important;
                background-position: center;
                background-repeat: no-repeat;
            }

            .body::before {
                background-color: rgba(0,0,0,0.6);
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            .hero-section .container {
                height: 100vh;
                z-index: 1;
                position: relative;
            }

            .hero-section h1 {
                font-size: 1.8rem;
            }

            .hero-section h2 {
                font-size: 1.2rem;
            }
        </style>
	</head>
    <body class="body">
        <section class="hero-section">
        <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
            <h1>@ViewBag.header</h1>
            <h2>@ViewBag.create</h2>
        </div>
        </section>
    </body>
</html>