@model webProjeOdev8.Models.Randevu

@{
    ViewData["Title"] = "RandevuEkle";
}

<h1>RandevuEkle</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RandevuEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="hastaneId" class="control-label" ></label>
                <select asp-for="hastaneId" class="form-control" id="HastaneSecim" asp-items="@ViewBag.HastaneList" onchange="AnaBilimleriDoldur(HastaneSecim,'anaBilimList'); ">
                    <option disable selected>Hastane seciniz</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="anaBilimDaliId" class="control-label" ></label>
                <select asp-for="anaBilimDaliId" class="form-control" asp-items="ViewBag.anaBilimDaliId" id="anaBilimList" onchange="KlinikleriDoldur(this,'klinikList');"></select>
            </div>
            <div class="form-group">
                <label asp-for="klinikId" class="control-label"></label>
                <select asp-for="klinikId" class="form-control" asp-items="ViewBag.klinikId" id="klinikList" onchange="DoktoruDoldur2(HastaneSecim,this,'doktorList');"></select>
            </div>
           
            <div class="form-group">
                <label asp-for="doktorId" class="control-label"></label>
                <select asp-for="doktorId" class="form-control" asp-items="ViewBag.doktorId" id="doktorList" onchange="PoliklinikleriDoldur2(this,'poliklinikList')"></select>
            </div>
            <div class="form-group">
                <label asp-for="poliklinikId" class="control-label"></label>
                <select asp-for="poliklinikId" class="form-control" asp-items="ViewBag.poliklinikId" id="poliklinikList" ></select>
            </div>
            <div class="form-group">
                <label asp-for="randevuTarihi" class="control-label"></label>
                <input asp-for="randevuTarihi" class="form-control" />
                <span asp-validation-for="randevuTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="randevuSaat" class="control-label"></label>
                <select asp-for="randevuSaat" class="form-control" >
                    <option>Saat Seciniz</option>
                    <option value="09:00">09:00</option>
                    <option value="09:20">09:20</option>
                    <option value="09:40">09:40</option>
                    <option value="10:00">10:00</option>
                    <option value="10:20">10:20</option>
                    <option value="10:40">10:40</option>
                    <option value="11:00">11:00</option>
                    <option value="11:20">11:20</option>
                    <option value="11:40">11:40</option>
                    <option value="12:00">12:00</option>
                    <option value="12:20">12:20</option>
                    <option value="12:40">12:40</option>
                    <option value="13:00">13:00</option>
                    <option value="13:20">13:20</option>
                    <option value="13:40">13:40</option>
                    <option value="14:00">14:00</option>
                    <option value="14:20">14:20</option>
                    <option value="14:40">14:40</option>
                    <option value="15:00">15:00</option>
                    <option value="15:20">15:20</option>
                    <option value="15:40">15:40</option>
                    <option value="16:00">16:00</option>
                    <option value="16:20">16:20</option>
                    <option value="16:40">16:40</option>
                    <option value="17:00">17:00</option>
                </select>
                <span asp-validation-for="randevuSaat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @TempData["hata"]
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
