@model webProjeOdev8.Models.HastaneKlinik

@{
    ViewData["Title"] = "HastaneKlinikEkle";
}

<h1>HastaneKlinikEkle</h1>

<h4>HastaneKlinik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HastaneKlinikEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="hastaneId" class="control-label">Hastane</label>
                <select asp-for="hastaneId" class="form-control" asp-items="@ViewBag.HastaneList">
                    <option value="">Seçiniz...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Klinik.klinikAdi" class="control-label"></label>
                <select asp-for="klinikId" class="form-control" asp-items="@ViewBag.KlinikList">
                    <option value="">Seçiniz...</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
