@model webProjeOdev.Models.HastaneAnaBilim

@{
    ViewData["Title"] = "HastaneAnaBilimEkle";
}

<h1>HastaneAnaBilimEkle</h1>

<h4>HastaneAnaBilim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HastaneAnaBilimEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hastane.hastaneAdi" class="control-label"></label>
                <select asp-for="hastaneId" class ="form-control" asp-items="@ViewBag.HastaneList"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnaBilimDali.anaBilimDaliAdi" class="control-label"></label>
                <select asp-for="anaBilimDaliId" class ="form-control" asp-items="@ViewBag.AnaBilimDaliList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
